/* texts */
.subtitle{
    font-size: 40px;
    color: $primaryColor2;
    font-weight:500;
    letter-spacing: 2px;
}
.hero-title{
    color: $primaryColor1;
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 2px;
}
.text-header{
    font-size: 1.5rem;
    color: $primaryColor3;
    letter-spacing: 2px;
}